@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.work-sans-quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* shared  style*/
  .display-flex{
    display: flex;

  }
  
  /* navbar */
  .main-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 90%;
    align-items: center;
  }
 
  .nav-heading{
    font-weight: bold;
    font-size: 2rem;
  }
  .nav-img{
    display: flex;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .nav-links{
    /* margin-top: 50px; */
  }
  /* nav color */
  .clr-1{
    color: #FEA301;
  }
  .clr-2{
    color: #01ACFD;
  }
  .clr-3{
    color: #05D4DF;
  }
  .clr-4{
    color: #5D58EF;
  }
  /* button section */
  .primary-btn{
    background-color: #FEA301;
    color: white;
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: none;
   
  }
  .bar{
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease , opacity 0.3s ease;
    margin-top: -50px;
  
  }
  /* navbar section */
  .navbar{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0px auto;
    align-items: center;
    
    
  }
  


  .navbar-heading{
    font-weight: bold;
    font-size: 2.5rem;
  }
  .span-1{
    color: #FEA301;

  }
  .span-2{

  }
  .span-3{
    color: #01ACFD;

  }
  .navbar-description{
   font-size: 1.25rem;
   font-weight: 400px;

  }
  
  /* navbar button */
  .navbar-button{
    background-color: black;
    color: white;
    padding: 10px 47px;
    border-radius: 12px;
  }
  /*  main section */
  .main-heading{
    text-align: center;
    font-size: 2.85rem;
    font-weight: bold;
    margin-top: 16px;

    
  }
  .main-section{
    background-image: url(assets/bg.png);
    width: 90%;
    margin: 0px auto;
    opacity: 100%;

  }
  .main-div{
    display: flex;
    gap: 24px;
    
  }
  .div-section{
    gap: 20px;
    /* border: 2px solid blue; */
    border-radius: 18px;
    padding: 30px;
  }
  /* div color section */
  .div-clr-1{
    background: linear-gradient( #DEF5FF, #ffffff);
    text-align: center;
   

  }
  .div-heading{
    font-size: 1.56rem;
    font-weight: 700;
  }
  .div-clr-2{
   background: linear-gradient(#FFF4DC,#ffffff);
    text-align: center;

  }
  .div-clr-3{
   background: linear-gradient(#F2E8FF,#ffffff);
    text-align: center;

  }
  .div-btn-1{
    color: #64C8FF;

  }
  .div-btn-2{
    color:#F0AA00 ;

  }
  .div-btn-3{
    color: #8700FF;

  }
  .div-description{
    font-weight: 400px;
    font-size: 1rem;
    color: #808080;
  }


  

@media screen and (max-width:576px) {
    .main-nav , .nav-links{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        justify-content: space-between;

    }
    .nav-links, .primary-btn, .nav-heading{
        display: none;
    }
    .menu-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 24px;
        cursor: pointer;
        margin-left: 350px;
        margin-top: -10px;
        
       
       
      }
      .banner-img{
        width: 100%;
      }
    
       .bar{
        width: 100%;
        height: 4px;
        background-color: #333;
        transition: transform 0.3s ease , opacity 0.3s ease;
        margin-top: -60px;
        
      
      }
      .navbar{
        flex-direction: column-reverse;
        
        
        
      }
      .navbar-button{
        margin-left:90px;
        
      }
      .nav-div{
        width: 90%;
      }
      .main-heading{
        text-align: center;
        margin-top: 40px;
      
        
      }
      /* .main-section{
        display: grid;
        
        grid-template-columns: repeat(1,1fr);
      } */
       .main-div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       }
   
     
   

}
